@page "/estoque"

@using Projeto_Odontpro.Models;
@using AppWeb.Models;
@inject EstoqueDAO estoqueDAO;

<PageTitle>Estoque</PageTitle>

<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Estoque</h1>

<a href="/estoque/novo" class="bg-blue-500 text-white px-4 py-2 rounded mb-4 inline-block">Novo Estoque</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>FormaPagamento</th>
            <th>Marca</th>
            <th>Valor</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @{
            int contador = 1;

            @foreach (var estoque in listaEstoque)
            {
                <tr>
                    <td>@estoque.Id</td>
                    <td>@estoque.Nome</td>
                    <td>@estoque.Quantidade</td>
                    <td>@estoque.FormaPagamento</td>
                    <td>@estoque.Marca</td>
                    <td>R$ @estoque.Valor</td>
                    <td>@estoque.Descricao</td>
                    <td>
                        <a href="/estoque/@estoque.Id/editar" class="btn btn-sm btn-primary mr-2">
                            <i class="fas fa-edit"></i> Atualizar
                        </a>
                        <a href="/estoque/@estoque.Id/excluir" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i> Excluir
                        </a>
                    </td>
                </tr>

                contador++;
            }
        }
    </tbody>
</table>

@code {
    private List<Estoque> listaEstoque = new();

    protected override void OnInitialized()
    {
        CarregarEstoque();
    }

    private void CarregarEstoque()
    {
        listaEstoque = estoqueDAO.ListarTodos();
    }
}