@page "/funcionarios"
@using Projeto_Odontpro.Models.Funcionario
@inject FuncionarioDAO funcionarioDAO
@inject NavigationManager NavigationManager

@* sempre use esse codigo para formularios  *@
@rendermode InteractiveServer

<h3>Produtos</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (funcionarios == null)
        {
            <tr><td colspan="6">Carregando...</td></tr>
        }
        else if (funcionarios.Count == 0)
        {
            <tr><td colspan="6">Nenhum funcionario cadastrado.</td></tr>
        }
        else
        {
            @foreach (var p in funcionarios)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Nome</td>
                    <td>@p.Email</td>
                    <td>@p.Sexo</td>
                    <td>@p.Telefone</td>
                    <td>@p.Cargo</td>
                    <td>@p.Estado</td>
                    <td>@p.Nascimento</td>
                    <td>@p.Endereco</td>
                    <td>R$ @p.Salario</td>
                    <td>@p.Descricao</td>
                    <td>
                        <button class="btn btn-primary btn-sm" @onclick="() => EditarFuncionario(p.Id)">Editar</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => ExcluirFuncionario(p.Id)">Excluir</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<NavLink class="btn btn-primary" href="/funcionarios/cadastrar_funcionarios/">Adicionar Funcionario</NavLink>


@code {
    private List<Models.Funcionario.Funcionario> funcionarios = new();

    protected override void OnInitialized()
    {
        Carregar();
    }

    private void Carregar()
    {
        funcionarios = funcionarioDAO.ListarTodos();
    }

    private void EditarFuncionario(int id)
    {
        NavigationManager.NavigateTo($"/funcionarios/{id}/editar");
    }

    private void ExcluirFuncionario(int id)
    {
        NavigationManager.NavigateTo($"/funcionarios/{id}/excluir");
    }
}
